[submodule "wp-content/themes/wordpress-bootstrap-master/library/assets/unslider"]
	path = wp-content/themes/wordpress-bootstrap-master/library/assets/unslider
	url = https://github.com/idiot/unslider.git
